{% extends 'base.html' %} {% block content %}
<div class="pagetitle">
  <h1>Dashboard</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item active">Dashboard</li>
    </ol>
  </nav>
</div>
<section class="section dashboard">
  <div class="row">
    <!-- Left side columns -->
    <div class="col-lg-8">
      <div class="row">
        <!-- Sales Card -->
        <div class="col-xxl-4 col-md-4">
          <div class="card info-card sales-card">
            <div class="card-body">
              <h5 class="card-title">Total Eggs</h5>
              <div class="ps-3">
                <h6>{{ total_eggs }}</h6>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xxl-4 col-md-4">
          <div class="card info-card sales-card">
            <div class="card-body">
              <h5 class="card-title">Daily Eggs</h5>
              <div class="ps-3">
                <h6>{{ daily_eggs }}</h6>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xxl-4 col-md-4">
          <div class="card info-card sales-card">
            <div class="card-body">
              <h5 class="card-title">Monthly eggs</h5>
              <div class="ps-3">
                <h6>{{ monthly_eggs }}</h6>
              </div>
            </div>
          </div>
        </div>
        <!-- End Sales Card -->

        <!-- Reports -->
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Reports <span>/Today</span></h5>

              <!-- Line Chart -->
              <div id="reportsChart"></div>
              <script id="eggs-data" type="application/json">
                {{ eggs | tojson | safe }}
              </script>

              <script>
                document.addEventListener("DOMContentLoaded", () => {
                  const eggsData = JSON.parse(
                    document.getElementById("eggs-data").textContent
                  );
                  const eggWeights = eggsData.map((egg) => egg.weight);
                  const eggSizes = eggsData.map((egg) => egg.size);
                  const eggDates = eggsData.map((egg) => egg.created_at);

                  console.log(eggWeights);

                  new ApexCharts(document.querySelector("#reportsChart"), {
                    series: [
                      {
                        name: "Weight",
                        data: eggWeights,
                      },
                    ],
                    chart: {
                      height: 350,
                      type: "area",
                      toolbar: {
                        show: false,
                      },
                    },
                    dataLabels: {
                      enabled: false,
                    },
                    stroke: {
                      curve: "straight",
                      width: 2,
                    },
                    xaxis: {
                      type: "datetime",
                      categories: eggDates,
                    },
                    legend: {
                      horizontalAlign: "left",
                    },
                  }).render();
                });
              </script>
              <!-- End Line Chart -->
            </div>
          </div>
        </div>
        <!-- End Reports -->

        <!-- Recent Sales -->
        <div class="col-12">
          <div class="card recent-sales overflow-auto">
            <div class="card-body">
              <h5 class="card-title">Recent Sales <span>| Today</span></h5>

              <table class="table table-borderless">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Size</th>
                    <th scope="col">Weight (g)</th>
                    <th scope="col">Collected On</th>
                    <th scope="col">Expiry Date</th>
                  </tr>
                </thead>
                <tbody id="eggs-table-body"></tbody>
              </table>

              <script>
                const eggsData = JSON.parse(
                  document.getElementById("eggs-data").textContent
                );

                const recentEggs = eggsData
                  .sort(
                    (a, b) => new Date(b.created_at) - new Date(a.created_at)
                  )
                  .slice(0, 5);

                const tableBody = document.getElementById("eggs-table-body");

                recentEggs.forEach((egg) => {
                  const row = document.createElement("tr");
                  row.innerHTML = `
                        <th scope="row">#${egg.id}</th>
                        <td>${egg.size}</td>
                        <td>${egg.weight.toFixed(2)} g</td>
                        <td>${new Date(
                          egg.created_at
                        ).toLocaleDateString()}</td>
                        <td>${new Date(
                          egg.expected_expiry
                        ).toLocaleDateString()}</td>
                    `;
                  tableBody.appendChild(row);
                });
              </script>
            </div>
          </div>
        </div>
        <!-- End Recent Sales -->
      </div>
    </div>
    <!-- End Left side columns -->

    <!-- Right side columns -->
    <div class="col-lg-4">
      <!-- Website Traffic -->
      <div class="card">
        <div class="card-body pb-0">
          <h5 class="card-title">Egg Sorted <span></span></h5>

          <div id="trafficChart" style="min-height: 350px" class="echart"></div>

          <script>
            document.addEventListener("DOMContentLoaded", async () => {
              // Fetch the data from the server
              const response = await fetch("/chart-data");
              const chartData = await response.json();
              console.log(chartData);

              echarts.init(document.querySelector("#trafficChart")).setOption({
                tooltip: {
                  trigger: "item",
                },
                legend: {
                  top: "5%",
                  left: "center",
                },
                series: [
                  {
                    name: "Access From",
                    type: "pie",
                    radius: ["40%", "70%"],
                    avoidLabelOverlap: false,
                    label: {
                      show: false,
                      position: "center",
                    },
                    emphasis: {
                      label: {
                        show: true,
                        fontSize: "18",
                        fontWeight: "bold",
                      },
                    },
                    labelLine: {
                      show: false,
                    },
                    data: chartData,
                  },
                ],
              });
            });
          </script>
        </div>
      </div>
      <!-- End Website Traffic -->
    </div>
    <!-- End Right side columns -->
  </div>
</section>
{% endblock %}
